<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fri-ride.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fri-ride.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FRI-ride</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FRI-ride</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FRI_rideConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Faks\FRI_ride\FRI_ride.mdf;Integrated Security=True;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FRI_rideConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Faks\FRI_ride\FRI_ride.mdf;Integrated Security=True;Connect Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FRI-rideConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FRI-rideConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FRI_ride.mdf;Initial Catalog=FRI_ride;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=FRI_ride;AttachDbFilename=|DataDirectory|\FRI_ride.mdf;Integrated Security=SSPI" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FRI-rideConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FRI_rideConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=fri-ride.database.windows.net;Initial Catalog=FRI-ride;Persist Security Info=True;User ID=zm8184;Password=Lojze4bojze</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>